<p>Sono nel il terzo componente!</p>
<div class="row justify-content-center">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://cdn.pixabay.com/photo/2022/12/01/04/42/man-7628305_1280.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="btn btn-primary" id="card">Go somewhere</a>
    </div>
  </div>
</div>
