<p class="titolo">Nel terzo componente faccio girare una card</p>
<div class="row justify-content-center" id="card-div">
  <div class="card" style="width: 18rem">
    <img
      class="card-img-top"
      src="https://cdn.pixabay.com/photo/2022/12/01/04/42/man-7628305_1280.jpg"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">Test di prova</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id unde
        reiciendis ipsa culpa odio, Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Suscipit esse, doloremque natus quam labore soluta
        facere voluptatibus? Molestiae nobis doloremque, laudantium, amet, vero
        neque sapiente minima facilis temporibus minus praesentium debitis
        voluptatem! Sunt, expedita architecto voluptatibus doloremque ratione
        similique est qui reprehenderit soluta asperiores rerum minus accusamus.
        Id ipsum dolorum ratione corporis libero voluptatum laborum officiis
        commodi ipsa assumenda consequuntur ut totam quaerat facilis aperiam
        quod maiores ullam, soluta consectetur enim magnam dolore doloribus.
        Ratione dignissimos, magni nostrum deleniti sapiente assumenda dolorum
        earum, voluptatum veniam non itaque possimus. Ut dicta libero
        consequatur enim hic illo sequi inventore autem voluptas maiores
        corporis ipsa voluptates sint nesciunt facere, eligendi, deleniti beatae
        ex expedita natus nam repellat ab vel doloribus. Numquam eligendi
        reiciendis earum ab exercitationem modi, ratione velit perspiciatis quam
        maiores, accusamus fugiat corrupti ipsum sapiente! Tempora eius odio
        expedita eligendi voluptas, labore ipsam assumenda temporibus esse
        quidem impedit, veniam laudantium aspernatur nemo maxime quasi corrupti
        rerum voluptatibus, culpa aliquid? Amet consectetur expedita neque est
        iusto error dolore voluptate consequuntur, accusantium, ipsum sequi
        mollitia aspernatur itaque a, ducimus unde totam sit accusamus modi
        repudiandae provident soluta ad atque! Fuga quod veniam deserunt, ex,
        molestiae nobis porro ea incidunt eligendi commodi non quas.
      </p>
      <a href="#" class="btn btn-primary" id="card">Go somewhere else</a>
    </div>
  </div>
</div>
